/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  color: #424242;
  text-align: justify;

}

p, h2, h3, ul{
  padding: 10px;
  line-height: 1.7em;
}

.left-panel{
  position: fixed;
  float: left;
  background: #F5F5F5;
  width: 30%;
  height: 100%;
  color: #787878;
}

.right-panel{
  float: right;
  width: 70%;
}

.content{
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 30px;
  clear: both;
}

.adjustment{
  display: inline-block;
  width: 100%;
}

.avatar{
  position: relative;
  float: right;
  border-radius: 100%;
  max-height: 100px;
}

.intro{
  text-align: right;
  font-weight: bold;
}

.description{
  font-weight: bold;
  color: #a2a2a2;
}


.inner-padding{
  padding-bottom: 20px;
  padding-top: 20px;
}

.titles{
  color: #787878;
  font-size: 2em;
}

.inner-titles{
  padding-top: 30px;
  color: #787878;
  text-align: center;
  font-size: 1.5em;
}

.education-titles{
  color: #787878;
  font-size: 1.2em;
}

.certification-titles{
  color: #787878;
  text-align: center;
}

.certification-titles-adj{
  color: #787878;
  text-align: center;
  padding-left: 100px;
}

.projects-img{
  height: 400px;
  margin: auto;
  display: block;
}

.projects-img-confusion{
  height: 400px;
  margin: auto;
  display: block;
  border: 1px solid #efefef;
}

.isec{
  position: relative;
  max-height: 70px;
  float: right;
}

.coursera{
  height: 180px;
  float: right;
}

.divider{
  border-bottom: 2px solid #efefef;
  padding-bottom: 30px;
}

.navbar{
  padding-top: 50px;
  font-size: 1.2em;
  text-align: right;
}

.navtext{
  color: #787878;
}

.button{
  display: block;
  position: relative;
  width: 200px;
  margin:auto;
  border: solid 3px #efefef;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  color: #787878;
}

.icons{
  color: #787878;
  font-size: 2em;
  padding-left: 10px;
}

.icons-position{
  position: absolute;
  bottom: 60px;
  right: 10px;
  margin-right: 50px;
}

.footer{
  right: 50px;
  font-size: 0.8em;
  position: absolute;
  bottom: 10px;
}

a:link, a:visited{
  color: #787878;
  text-decoration: none;
}

a:hover {
  color: lightskyblue;
}
